<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mobile-detect/1.4.4/mobile-detect.min.js"></script>

    <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel='stylesheet' href='/css/form.css' />

</head>

<body class="background" onload="onLoading()">

    <!-- multistep form -->
    <form id="msform" autocomplete="off">
        <!-- progressbar -->

        <div class="container col-md-5 py-5 centerCard">
            <div class="card background-card ">
                <div class="card-body ">
                    <h1 class="fs-title">Welcome to Survey!</h1>
                    <h3 class="fs-subtitle">We will require to take some details from you</h3>

                    <div class="form-group">
                        <label for="exampleInputEmail1" class="bmd-label-floating">Email</label>
                        <input type="text" onkeyup="inputValidator(0, 'email')" class="form-control" id="email">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1" class="bmd-label-floating">Name</label>
                        <input type="text" onkeyup="inputValidator(1, 'name')" class="form-control" id="name">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1" class="bmd-label-floating">Last Name</label>
                        <input type="text" onkeyup="inputValidator(2, 'lastname')" class="form-control" id="lastname">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1" class="bmd-label-floating">Phone</label>
                        <input type="text" onkeyup="inputValidator(3, 'phone')" class="form-control" id="phone">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1" class="bmd-label-floating">Address</label>
                        <input type="text" onkeyup="inputValidator(4, 'address')" class="form-control" id="address">
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col">
                            </div>
                            <div class="col">
                                <input id="onNextEmailVerify" onclick="showConfirmModal()" type="button" name="next" class="next action-button" value="Submit" />
                            </div>
                            <div class="col">
                            </div>
                        </div>
                    </div>

                </div>

            </div>


            <!-- Modal -->
            <div class="modal fade" id="FormCompleted" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Hello there!</h5>

                        </div>
                        <div class="modal-body">
                            <p>Not Allowed to see this page</p>
                            <div class="modal-footer">
                                <input id="onNextEmailVerify" onclick="onClose()" type="button" name="Ok" class="next action-button-modal" value="OK" />
                            </div>

                        </div>
                    </div>
                </div>

            </div>
            <!-- Modal -->
            <div class="modal fade" id="ComfirmForm" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Do you want to send the answers?</h5>

                        </div>
                        <div class="modal-body">

                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                                <input id="onNextEmailVerify" onclick="sendMail()" type="button" name="Ok" class="next action-button-modal" value="YES" />
                            </div>

                        </div>
                    </div>
                </div>

            </div>
            <div class="modal fade" id="SuccessModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Thanks for your support!</h5>

                        </div>
                        <div class="modal-body">
                            <div class="modal-footer">
                                <input id="onNextEmailVerify" onclick="onClose()" type="button" name="Ok" class="next action-button-modal" value="OK" />
                            </div>

                        </div>
                    </div>
                </div>

            </div>

            <!-- fieldsets -->
            <!-- <fieldset>
            <h2 class="fs-title">Welcome sir!</h2>
            <h3 class="fs-subtitle">We will require to take some details from you</h3>
            <input id="email" class="bmd-label-floating" type="email" name="email" placeholder="Email" />
            <input id="name" type="text" name="name" placeholder="Name" />
            <input id="lastname" type="text" name="lastname" placeholder="lastname" />
            <input id="onNextEmailVerify" type="button" name="next" class="next action-button" value="Next" />
        </fieldset>
        <fieldset>
            <h2 class="fs-title">Social Profiles</h2>
            <h3 class="fs-subtitle">Your presence on the social network</h3>
            <input id="twitter" type="text" name="twitter" placeholder="Twitter" />
            <input id="facebook" type="text" name="facebook" placeholder="Facebook" />
            <input id="instagram" type="text" name="instagram" placeholder="Instagram" />
            <input type="button" name="previous" class="previous action-button" value="Previous" />
            <input type="button" name="next" class="next action-button" value="Next" />
        </fieldset>
        <fieldset>
            <h2 class="fs-title">Personal Details</h2>
            <h3 class="fs-subtitle">We will never sell it</h3>
            <input id="phone" type="text" name="phone" placeholder="Phone" />
            <textarea id="address" name="address" placeholder="Address"></textarea>
            <input type="button" name="previous" class="previous action-button" value="Previous" />
            <input type="button" onclick="sendMail()" name="submit" class="submit action-button" value="Submit" />
        </fieldset>
        <fieldset>
            <h2 class="fs-title ">Thanks for your support!</h2>
            <h3 class="fs-subtitle ">We will be sending you and email </h3>
            <h3 class="fs-subtitle "></h3>
        </fieldset> -->
    </form>


</body>
<script src="/js/form.js "></script>

</html>