<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel='stylesheet' href='/css/otp.css' />
    <link rel='stylesheet' href='/css/common.css' />
</head>

<body class="background">

    <div class="container col-md-3 py-5 centerCard">
        <div class="card background-card ">
            <div class="card-body ">
                <div class="text-center">
                    <h7>Please type the verification code sent to you</h7>
                </div>
                <form class="text-center" style="margin-top: 20px;" autocomplete="off">
                    <input id="codeBox1" type="text" maxlength="1" onkeyup="onKeyUpEvent(1, event)" onfocus="onFocusEvent(1)" oninput="this.value=this.value.replace(/[^0-9]/g,'');" />
                    <input id="codeBox2" type="text" maxlength="1" onkeyup="onKeyUpEvent(2, event)" onfocus="onFocusEvent(2)" oninput="this.value=this.value.replace(/[^0-9]/g,'');" />
                    <input id="codeBox3" type="text" maxlength="1" onkeyup="onKeyUpEvent(3, event)" onfocus="onFocusEvent(3)" oninput="this.value=this.value.replace(/[^0-9]/g,'');" />
                    <input id="codeBox4" type="text" maxlength="1" onkeyup="onKeyUpEvent(4, event)" onfocus="onFocusEvent(4)" oninput="this.value=this.value.replace(/[^0-9]/g,'');" />
                </form>
                <div class="text-center" style="margin-top: 20px;">
                    <button type="button" id="sendOtp" class="btn btn-primary" onclick="validateOtp()" disabled>Verify OTP</button>

                </div>


                <div class="modal fade" id="errorModal" role="dialog">
                    <div class="modal-dialog">

                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">UPS! </h4>
                                <button onclick="onClose()" type="button" class="close" data-dismiss="modal">×</button>
                            </div>
                            <div class="modal-footer">
                                <p>This OTP is being used or don't exist</p>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="modal fade" id="successModal" role="dialog">
                    <div class="modal-dialog ">

                        <div class="modal-content">
                            <div class="modal-header">

                                <h4 class="modal-title">Success!</h4>

                            </div>
                            <div class="modal-body">
                                <p>OTP verification successful</p>

                            </div>
                            <div class="modal-footer">
                                <button onclick="onClose()" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button onclick="onAccept(event)" type="button" class="btn btn-primary">Go To Survey</button>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>


</body>
<script src="/js/otp.js"></script>

</html>